.skills {
    &-title {
        padding-top: 91px;
    }
    &-text {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        font-weight: 500;
        padding: 69px 0 83px;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    &-image {
        display: block;
        margin: 0 auto;
    }
    &-text {
        width: 79px;
        margin: 23px auto 41px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        text-align: center;
        color: #828282;
    }
    &-elements {
        align-self: flex-end;
    }
}